.box {
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    border: white solid 2px;
    margin: 0;
}

#c1,
#c2,
#c3,
#c4,
#c5,
#c6 {
    left: 25px;
    position: absolute;
}

#c1 {
    top: 125px;
}

#c2 {
    top: 175px;
}

#c3 {
    top: 225px;
}

#c4 {
    top: 275px;
}

#c5 {
    top: 325px;
}

#c6 {
    top: 375px;
}

#canvas {
    display: block;
    position: absolute;
    left: 100px;
    top: 100px;
    width: 800px;
    height: 800px;
    background-color: burlywood;
}

.color1 {
    background-color: red;
}

.color2  {
    background-color: green;
}
.color3 {
    background-color: navy;
}
.color4 {
    background-color: brown;
}
.color5 {
    background-color: gray;
}
.color6 {
    background-color: black;
}

.x100 {
    left: 100px;
}

.x150 {
    left: 150px;
}

.x200 {
    left: 200px;
}

.x250 {
    left: 250px;
}

.x300 {
    left: 300px;
}

.x350 {
    left: 350px;
}

.x400 {
    left: 400px;
}

.x450 {
    left: 450px;
}

.x500 {
    left: 500px;
}

.x550 {
    left: 550px;
}

.x600 {
    left: 600px;
}

.x650 {
    left: 650px;
}

.x700 {
    left: 700px;
}

.x750 {
    left: 750px;
}


.y100 {
    top: 100px;
}

.y150 {
    top: 150px;
}

.y200 {
    top: 200px;
}

.y250 {
    top: 250px;
}

.y300 {
    top: 300px;
}

.y350 {
    top: 350px;
}

.y400 {
    top: 400px;
}

.y450 {
    top: 450px;
}

.y500 {
    top: 500px;
}

.y550 {
    top: 550px;
}

.y600 {
    top: 600px;
}

.y650 {
    top: 650px;
}

.y700 {
    top: 700px;
}

.y750 {
    top: 750px;
}
