body {
    background-color: #232323;
    color: rgba(0,0,0,0);

}

h1 {
    text-align: center;
    margin-top: 1em;
    color: #FFC65D;
}
.box {
    position: absolute;
    display: block;
    height: 50px;
    width: 50px;
    border: white solid 2px;
    margin: 0;
}

button {
    margin-left: 200px;
}

#c1,
#c2,
#c3,
#c4,
#c5,
#c6 {
    left: 50px;
    position: absolute;
    border-radius: 50%;
}

#c1 {
    top: 150px;
}

#c2 {
    top: 205px;
}

#c3 {
    top: 260px;
}

#c4 {
    top: 315px;
}

#c5 {
    top: 370px;
}

#c6 {
    top: 425px;
}

#canvas {
    display: block;
    position: absolute;
    left: 200px;
    top: 250px;
    width: 800px;
    height: 800px;
    background-color: transparent;
}

#win {
    display: block;
    position: absolute;
    left: 200px;
    top: 500px;
    width: 700px;
    height: 250px;
    background-color: #F16745;

}

#lose {
    display: block;
    position: absolute;
    left: 200px;
    top: 500px;
    width: 700px;
    height: 250px;
    background-color: #404040;

}

#clicksField {
    position: absolute;
    left: 800px;

}

.color1 {
    background-color: #F16745;
}

.color2  {
    background-color: #FFC65D;
}
.color3 {
    background-color: #7BC8A4;
}
.color4 {
    background-color: #4CC3D9;
}
.color5 {
    background-color: #93648D;
}
.color6 {
    background-color: #404040;
}

.x0 {
    left: 0px;
}

.x50 {
    left: 50px;
}

.x100 {
    left: 100px;
}

.x150 {
    left: 150px;
}

.x200 {
    left: 200px;
}

.x250 {
    left: 250px;
}

.x300 {
    left: 300px;
}

.x350 {
    left: 350px;
}

.x400 {
    left: 400px;
}

.x450 {
    left: 450px;
}

.x500 {
    left: 500px;
}

.x550 {
    left: 550px;
}

.x600 {
    left: 600px;
}

.x650 {
    left: 650px;
}

.x700 {
    left: 700px;
}

.x750 {
    left: 750px;
}

.y0 {
    top: 0px;
}

.y50 {
    top: 50px;
}

.y100 {
    top: 100px;
}

.y150 {
    top: 150px;
}

.y200 {
    top: 200px;
}

.y250 {
    top: 250px;
}

.y300 {
    top: 300px;
}

.y350 {
    top: 350px;
}

.y400 {
    top: 400px;
}

.y450 {
    top: 450px;
}

.y500 {
    top: 500px;
}

.y550 {
    top: 550px;
}

.y600 {
    top: 600px;
}

.y650 {
    top: 650px;
}

.y700 {
    top: 700px;
}

.y750 {
    top: 750px;
}
